*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbarContainer{
    height: 70px;
    width: 100%;
    background-color: beige;
    display: flex;
}
.navbarContainer .logo{
    flex-basis:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarContainer .menu{
    flex-basis:70%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 22px;
}
.menu a:hover{
    border-bottom: 2px solid coral;
}
.navbarContainer .btns{
    flex-basis:20%; 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btns a button{
    height: 50px;
    width: 120px;
    border: none;
    background-color: maroon;
    color: aliceblue;
    font-size: 20px;
    border-radius: 25px;
}
.btns a button:hover{
    background-color: #000000;
    color: aliceblue;
}


.slick-slide img {
  padding: 20px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #fff;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 24px;
}

.container{
    margin: auto;
    padding: 20px;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.container .movie-card{
    height: 300px;
    width: 250px;
    border: 1px solid;
}
.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

}
.movie-card img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.movie-card a button{
    height: 30px;
    width: 120px;
    border: none;
    background-color: cornflowerblue;
    color: black;
    font-size: 15px;
    border-radius: 25px;
}

.details-container{
    margin: auto;
    padding: 20px;
    height: 60vh;
    width: 100%;
    background-color: lavender;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.details-card{
    height: 350px;
    width: 300px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.details-card img{
    height: 200px;
    width:200px;
    border-radius: 20px;
}